:root {
  /* --colour-1: #ff6b35ff;
  --colour-2: #f7c59fff;
  --colour-3: #efefd0ff;
  --colour-4: #004e89ff;
  --colour-5: #1a659eff; */

  /* --colour-1: #1d4591;
  --colour-2: #4d86d1;
  --colour-3: #a2b4d3;
  --colour-4: #e5eff5;
  --colour-5: #aac350; */

  /* --colour-1: #541a48;
  --colour-2: #abca34;
  --colour-3: #e6f0ef;
  --colour-4: #191852;
  --colour-5: #136d90; */

  /* --colour-1: #132428;
  --colour-2: #cec99e;
  --colour-3: #56ad9d;
  --colour-4: #0e1e1f;
  --colour-5: #4569b2; */

  --colour-1: #3399cc;
  --colour-2: #5badd6;
  --colour-3: #ff9933;
  --colour-4: #cc3333;
  --colour-5: #3a3a3a;
}

body {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: var(--colour-1);
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.card {
  padding: 1em;
  width: 85vw;
  margin:auto;
  margin-top: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

 /* The alert message box */
 .alert {
  padding: 20px;
  background-color: #ff990070; /* ff9800 */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

.Pickup-Region-Map{
  width: 95vw;
  margin: auto;
  margin-top: 1em;
}

.login-card {
  background-color: var(--colour-3);
  color: white;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 1em;
  align-content: flex-start;
}

button, input[type=submit] {
  background-color: var(--colour-1);
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
}

button:disabled{
  background-color: var(--colour-5);
  color: grey;
  cursor: not-allowed;
}

.login-input {
  border: none;
  padding: 1em;
  border-radius: 5px;
  transition: 0.3s;
}

.pickup-signup-subheader {
  background-color: var(--colour-3);
  margin: 0;
  padding: 1em;
}

.geolookup {
  margin: 1em;
}

.pickup-signup-input {
  border: var(--colour-5) solid 1px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.signup-section {
  padding: 1em;
  width: 85vw;
  margin:auto;
}